@media screen and (max-width:1200px){
    footer .col-sm-3 {
        margin: 0px 7px;
    }
    .rows-item button {
        width: 100px;
        height: 42px;
    }
    .flat-camera button {
        width: 100px;
        height: 42px;
    }
    footer .col-sm-3 {
        margin: 0px 17px;
        width: 45% !important;
    }
    footer {
        min-height: 500px;
    }
    .flat-camera img {
        margin-left: 13%;
    }
    .col-sm-3 {
        width: 48% !important;
    } 
}

@media screen and (max-width: 768px){
    .col-md-4 {
        width: 100% !important;
        float: left;
    }
    footer .col-sm-3 {
        width: 100% !important;
    }
    .webworld p {
        font-size: 18px;
    }
    .col-sm-3 h5 {
        font-size: 23px;
    }
    .contact-content {
        font-size: 18px;
    }
    .tweet-icon i {
        width: 5%;
        height: 30px;
        font-size: 30px;
    }
    .client-testimonials {
        height: 360px;
    }
    .tweet-content p {
        font-size: 18px;
    }
    .tweet-content a {
        text-decoration: none;
        font-size: 16px;
        margin-left: 60px;
        position: relative;
        top: -12px;
        color: #03a9f4;
    }
    .tweet-icon i {
        
        margin-right: 2%;   
        margin-top: 1%;
    }
    .news p {
        font-size: 18px;
    }
    .our-latest-project {
        padding-top: 50px;
    }
    .flat-camera img {
        margin-top: 10%;
        margin-left: 20%;
    }
    .client-testimonials-content h6{
        width: 55%;
    }
}

@media screen and (max-width: 575px){
    .flat-camera img {
        width: 45%;
    }
    .webworld p {
        font-size: 14px;
    }
    .news p {
        font-size: 14px;
    }
    .tweet-content p {
        font-size: 14px;
    }
    .contact-content {
        font-size: 14px;
    }
    .client-testimonials-content h6{
        width: 55%;
    }
}
@media screen and (max-width: 420px){

    .col-sm-3 a img {      
        height: 220px;
    }

    .col-sm-3 {
        width: 100% !important;
    }
    .tweet-icon i {
        height: 40px;
        font-size: 19px;
    }
    .tweet-content a {
        font-size: 12px;
        margin-left: 26px; 
    }
    .webworld p {
        font-size: 13px;
    }
    .news p {
        font-size: 13px;
    }
    .tweet-content p {
        font-size: 13px;
    }
    .contact-content {
        font-size: 13px;
    }
}